<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <%= require("html-loader!../common/banner/index.html") %>
      <section class="order-container">
        <ul class="order-list max-center">
          <li class="order-item">
            <div class="title-box">
              <div class="title">Lake Charles</div>
              <div class="desc">Fiery Crab</div>
            </div>
            <div class="img">
              <img src="/public/images/order.jpg" alt="">
            </div>
            <div class="text">
              <div class="p address">Address : 339 W Prien Lake Road, Lake Charles, LA 70601</div>
              <div class="p phone">Phone : (337) 564-6500</div>
            </div>
            <a href="" class="more">ORDER ONLINE</a>
          </li>
          <li class="order-item">
            <div class="title-box">
              <div class="title">Lake Charles</div>
              <div class="desc">Fiery Crab</div>
            </div>
            <div class="img">
              <img src="/public/images/order.jpg" alt="">
            </div>
            <div class="text">
              <div class="p address">Address : 339 W Prien Lake Road, Lake Charles, LA 70601</div>
              <div class="p phone">Phone : (337) 564-6500</div>
            </div>
            <a href="" class="more">ORDER ONLINE</a>
          </li>
          <li class="order-item">
            <div class="title-box">
              <div class="title">Lake Charles</div>
              <div class="desc">Fiery Crab</div>
            </div>
            <div class="img">
              <img src="/public/images/order.jpg" alt="">
            </div>
            <div class="text">
              <div class="p address">Address : 339 W Prien Lake Road, Lake Charles, LA 70601</div>
              <div class="p phone">Phone : (337) 564-6500</div>
            </div>
            <a href="" class="more">ORDER ONLINE</a>
          </li>
          <li class="order-item">
            <div class="title-box">
              <div class="title">Lake Charles</div>
              <div class="desc">Fiery Crab</div>
            </div>
            <div class="img">
              <img src="/public/images/order.jpg" alt="">
            </div>
            <div class="text">
              <div class="p address">Address : 339 W Prien Lake Road, Lake Charles, LA 70601</div>
              <div class="p phone">Phone : (337) 564-6500</div>
            </div>
            <a href="" class="more">ORDER ONLINE</a>
          </li>
          <li class="order-item">
            <div class="title-box">
              <div class="title">Lake Charles</div>
              <div class="desc">Fiery Crab</div>
            </div>
            <div class="img">
              <img src="/public/images/order.jpg" alt="">
            </div>
            <div class="text">
              <div class="p address">Address : 339 W Prien Lake Road, Lake Charles, LA 70601</div>
              <div class="p phone">Phone : (337) 564-6500</div>
            </div>
            <a href="" class="more">ORDER ONLINE</a>
          </li>
          <li class="order-item">
            <div class="title-box">
              <div class="title">Lake Charles</div>
              <div class="desc">Fiery Crab</div>
            </div>
            <div class="img">
              <img src="/public/images/order.jpg" alt="">
            </div>
            <div class="text">
              <div class="p address">Address : 339 W Prien Lake Road, Lake Charles, LA 70601</div>
              <div class="p phone">Phone : (337) 564-6500</div>
            </div>
            <a href="" class="more">ORDER ONLINE</a>
          </li>
          <li class="order-item">
            <div class="title-box">
              <div class="title">Lake Charles</div>
              <div class="desc">Fiery Crab</div>
            </div>
            <div class="img">
              <img src="/public/images/order.jpg" alt="">
            </div>
            <div class="text">
              <div class="p address">Address : 339 W Prien Lake Road, Lake Charles, LA 70601</div>
              <div class="p phone">Phone : (337) 564-6500</div>
            </div>
            <a href="" class="more">ORDER ONLINE</a>
          </li>
          <li class="order-item">
            <div class="title-box">
              <div class="title">Lake Charles</div>
              <div class="desc">Fiery Crab</div>
            </div>
            <div class="img">
              <img src="/public/images/order.jpg" alt="">
            </div>
            <div class="text">
              <div class="p address">Address : 339 W Prien Lake Road, Lake Charles, LA 70601</div>
              <div class="p phone">Phone : (337) 564-6500</div>
            </div>
            <a href="" class="more">ORDER ONLINE</a>
          </li>
        </ul>
      </section>
      <!-- 引入公共页尾 -->
      <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>