<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-swiper swiper-container">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <img src="/public/images/banner.jpeg" alt="">
          <div class="text">
            <div class="title">Celebrate with US</div>
            <div class="desc">
              At Kickin’Inn ,we tailor your experience and the party vibe specifically to your function needs. Kajun
              Seafood is a unique cuisine that is made to be shared in a casual fun environment, this style of serving
              is exceptionally great for large groups.
            </div>
            <div class="more">Read More</div>
          </div>
        </li>
        <li class="swiper-slide">
          <img src="/public/images/banner.jpeg" alt="">
          <div class="text">
            <div class="title">Celebrate with US</div>
            <div class="desc">
              At Kickin’Inn ,we tailor your experience and the party vibe specifically to your function needs. Kajun
              Seafood is a unique cuisine that is made to be shared in a casual fun environment, this style of serving
              is exceptionally great for large groups.
            </div>
            <div class="more">Read More</div>
          </div>
        </li>
        <li class="swiper-slide">
          <img src="/public/images/banner.jpeg" alt="">
          <div class="text">
            <div class="title">Celebrate with US</div>
            <div class="desc">
              At Kickin’Inn ,we tailor your experience and the party vibe specifically to your function needs. Kajun
              Seafood is a unique cuisine that is made to be shared in a casual fun environment, this style of serving
              is exceptionally great for large groups.
            </div>
            <div class="more">Read More</div>
          </div>
        </li>
        <li class="swiper-slide">
          <img src="/public/images/banner.jpeg" alt="">
          <div class="text">
            <div class="title">Celebrate with US</div>
            <div class="desc">
              At Kickin’Inn ,we tailor your experience and the party vibe specifically to your function needs. Kajun
              Seafood is a unique cuisine that is made to be shared in a casual fun environment, this style of serving
              is exceptionally great for large groups.
            </div>
            <div class="more">Read More</div>
          </div>
        </li>
      </ul>
    </section>
    <section class="product-container max-center">
      <div class="title">The finest Kajun flavours</div>
      <ul class="product-list">
        <li class="product-item">
          <img src="/public/images/pro1.jpeg" alt="">
        </li>
        <li class="product-item">
          <img src="/public/images/pro2.jpeg" alt="">
        </li>
        <li class="product-item">
          <img src="/public/images/pro3.jpeg" alt="">
        </li>
      </ul>
    </section>
    <section class="about-container ">
      <div class="about-box max-center">
        <div class="left-layout">
          <img src="/public/images/about-img.jpg" alt="">
        </div>
        <div class="right-layout">
          <div class="text">
            <div class="title">A UNIQUE DINING<br> EXPERIENCE</div>
            <div class="cont">
              <p>At Kickin’Inn we prefer not to give any plates or cutleries because you eat right from a seafood bag
                from the table and with your hands. Don’t worry we provide bibs and gloves (and of course, cutlery if
                requested).</p>
              <p>A home-grown brand, Kickin’Inn aims to deliver best seafood. We offer a wide range of seafood cooked to
                perfection that will make your taste buds tingle with joy.</p>
            </div>
          </div>
        </div>
      </div>

    </section>
    <section class="menu-favorites-container max-center">
      <div class="left-layout">
        <div class="module-title">Menu favorites</div>
        <ul class="menu-favorites-list">
          <li class="menu-favorites-item">
            <div class="title">Oysters</div>
            <div class="cont">Fresh Sydney Rock Oysters taste of the pure ocean; rich, briny, and creamy with a sweet & salty mineral tang</div>
          </li>
          <li class="menu-favorites-item">
            <div class="title">Oysters</div>
            <div class="cont">Fresh Sydney Rock Oysters taste of the pure ocean; rich, briny, and creamy with a sweet & salty mineral tang</div>
          </li>
          <li class="menu-favorites-item">
            <div class="title">Oysters</div>
            <div class="cont">Fresh Sydney Rock Oysters taste of the pure ocean; rich, briny, and creamy with a sweet & salty mineral tang</div>
          </li>
          <li class="menu-favorites-item">
            <div class="title">Oysters</div>
            <div class="cont">Fresh Sydney Rock Oysters taste of the pure ocean; rich, briny, and creamy with a sweet & salty mineral tang</div>
          </li>
          <li class="menu-favorites-item">
            <div class="title">Oysters</div>
            <div class="cont">Fresh Sydney Rock Oysters taste of the pure ocean; rich, briny, and creamy with a sweet & salty mineral tang</div>
          </li>
          <li class="menu-favorites-item">
            <div class="title">Oysters</div>
            <div class="cont">Fresh Sydney Rock Oysters taste of the pure ocean; rich, briny, and creamy with a sweet & salty mineral tang</div>
          </li>
          <li class="menu-favorites-item">
            <div class="title">Oysters</div>
            <div class="cont">Fresh Sydney Rock Oysters taste of the pure ocean; rich, briny, and creamy with a sweet & salty mineral tang</div>
          </li>
          <li class="menu-favorites-item">
            <div class="title">Oysters</div>
            <div class="cont">Fresh Sydney Rock Oysters taste of the pure ocean; rich, briny, and creamy with a sweet & salty mineral tang</div>
          </li>
          <li class="menu-favorites-item">
            <div class="title">Oysters</div>
            <div class="cont">Fresh Sydney Rock Oysters taste of the pure ocean; rich, briny, and creamy with a sweet & salty mineral tang</div>
          </li>
        </ul>
      </div>
      <div class="right-layout">
        <img src="/public/images/menu-favorites.jpg" alt="">
      </div>
    </section>
    <section class="text-container max-center">
      <div class="title">WHATS’S NEW</div>
    </section>
    <section class="news-container max-center">
      <ul class="news-list">
        <li class="news-item">
          <div class="img">
            <img src="/public/images/news.png" alt="">
          </div>
          <div class="text">
            <div class="title">
              Parramatta, ARE YOU READY?</div>
            <div class="desc">Kickin’Inn is coming to Eat Street VERY SOON! 🥳🦐 Watch this space for updates!</div>
            <a href="" class="more">Read more</a>
          </div>
        </li>
        <li class="news-item">
          <div class="img">
            <img src="/public/images/news.png" alt="">
          </div>
          <div class="text">
            <div class="title">
              Parramatta, ARE YOU READY?</div>
            <div class="desc">Kickin’Inn is coming to Eat Street VERY SOON! 🥳🦐 Watch this space for updates!</div>
            <a href="" class="more">Read more</a>
          </div>
        </li>
        <li class="news-item">
          <div class="img">
            <img src="/public/images/news.png" alt="">
          </div>
          <div class="text">
            <div class="title">
              Parramatta, ARE YOU READY?</div>
            <div class="desc">Kickin’Inn is coming to Eat Street VERY SOON! 🥳🦐 Watch this space for updates!</div>
            <a href="" class="more">Read more</a>
          </div>
        </li>
        <li class="news-item">
          <div class="img">
            <img src="/public/images/news.png" alt="">
          </div>
          <div class="text">
            <div class="title">
              Parramatta, ARE YOU READY?</div>
            <div class="desc">Kickin’Inn is coming to Eat Street VERY SOON! 🥳🦐 Watch this space for updates!</div>
            <a href="" class="more">Read more</a>
          </div>
        </li>
        <li class="news-item">
          <div class="img">
            <img src="/public/images/news.png" alt="">
          </div>
          <div class="text">
            <div class="title">
              Parramatta, ARE YOU READY?</div>
            <div class="desc">Kickin’Inn is coming to Eat Street VERY SOON! 🥳🦐 Watch this space for updates!</div>
            <a href="" class="more">Read more</a>
          </div>
        </li>
        <li class="news-item">
          <div class="img">
            <img src="/public/images/news.png" alt="">
          </div>
          <div class="text">
            <div class="title">
              Parramatta, ARE YOU READY?</div>
            <div class="desc">Kickin’Inn is coming to Eat Street VERY SOON! 🥳🦐 Watch this space for updates!</div>
            <a href="" class="more">Read more</a>
          </div>
        </li>
      </ul>
    </section>
    <section class="select-container">
      <div class="select-box max-center">
        <div class="title">CREATE THE KICKIN’VIBE AT HOME</div>
        <ul class="select-list">
          <li class="select-item">
            <a href="">MENULOG</a>
          </li>
          <li class="select-item">
            <a href="">TAKEAWAY</a>
          </li>
          <li class="select-item">
            <a href="">CATERING</a>
          </li>
        </ul>
      </div>
    </section>
    <section class="testimonials-container max-center">
      <div class="title-module">
        <div class="subtitle">TESTIMONIALS FROM OTHER</div>
        <div class="title">Food Lovers</div>
      </div>
      <div class="testimonials-box swiper-container">
        <div class="swiper-wrapper">
          <ul class="testimonials-list swiper-slide">
            <li class="testimonials-item">
              <div class="cont">
                <div class="star">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <div class="text">
                  有史以来最好的食物，并且能够像孩子一样用手吃饭只会增加体验。这是我一段时间以来吃过的最好的晚餐之一，服务很棒，餐厅真的很棒。菜单很棒，辣酱是完美的香料。爱它！！
                </div>
                <a class="icon">
                  <img src="/public/images/google_small_icon.png" alt="">
                </a>
              </div>
              <div class="author">
                <div class="photo-img">
                  <img src="/public/images/unnamed.png" alt="">
                </div>
                <div class="text">
                  <div class="title">帕科·奥尔蒂斯
                  </div>
                  <div class="date">2022 年 8 月 6 日</div>
                </div>
              </div>
            </li>
            <li class="testimonials-item">
              <div class="cont">
                <div class="star">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <div class="text">
                  有史以来最好的食物，并且能够像孩子一样用手吃饭只会增加体验。这是我一段时间以来吃过的最好的晚餐之一，服务很棒，餐厅真的很棒。菜单很棒，辣酱是完美的香料。爱它！！
                </div>
                <a class="icon">
                  <img src="/public/images/google_small_icon.png" alt="">
                </a>
              </div>
              <div class="author">
                <div class="photo-img">
                  <img src="/public/images/unnamed.png" alt="">
                </div>
                <div class="text">
                  <div class="title">帕科·奥尔蒂斯
                  </div>
                  <div class="date">2022 年 8 月 6 日</div>
                </div>
              </div>
            </li>
            <li class="testimonials-item">
              <div class="cont">
                <div class="star">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <div class="text">
                  有史以来最好的食物，并且能够像孩子一样用手吃饭只会增加体验。这是我一段时间以来吃过的最好的晚餐之一，服务很棒，餐厅真的很棒。菜单很棒，辣酱是完美的香料。爱它！！
                </div>
                <a class="icon">
                  <img src="/public/images/google_small_icon.png" alt="">
                </a>
              </div>
              <div class="author">
                <div class="photo-img">
                  <img src="/public/images/unnamed.png" alt="">
                </div>
                <div class="text">
                  <div class="title">帕科·奥尔蒂斯
                  </div>
                  <div class="date">2022 年 8 月 6 日</div>
                </div>
              </div>
            </li>
            <li class="testimonials-item">
              <div class="cont">
                <div class="star">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <div class="text">
                  有史以来最好的食物，并且能够像孩子一样用手吃饭只会增加体验。这是我一段时间以来吃过的最好的晚餐之一，服务很棒，餐厅真的很棒。菜单很棒，辣酱是完美的香料。爱它！！
                </div>
                <a class="icon">
                  <img src="/public/images/google_small_icon.png" alt="">
                </a>
              </div>
              <div class="author">
                <div class="photo-img">
                  <img src="/public/images/unnamed.png" alt="">
                </div>
                <div class="text">
                  <div class="title">帕科·奥尔蒂斯
                  </div>
                  <div class="date">2022 年 8 月 6 日</div>
                </div>
              </div>
            </li>
            <li class="testimonials-item">
              <div class="cont">
                <div class="star">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <div class="text">
                  有史以来最好的食物，并且能够像孩子一样用手吃饭只会增加体验。这是我一段时间以来吃过的最好的晚餐之一，服务很棒，餐厅真的很棒。菜单很棒，辣酱是完美的香料。爱它！！
                </div>
                <a class="icon">
                  <img src="/public/images/google_small_icon.png" alt="">
                </a>
              </div>
              <div class="author">
                <div class="photo-img">
                  <img src="/public/images/unnamed.png" alt="">
                </div>
                <div class="text">
                  <div class="title">帕科·奥尔蒂斯
                  </div>
                  <div class="date">2022 年 8 月 6 日</div>
                </div>
              </div>
            </li>
            <li class="testimonials-item">
              <div class="cont">
                <div class="star">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <div class="text">
                  有史以来最好的食物，并且能够像孩子一样用手吃饭只会增加体验。这是我一段时间以来吃过的最好的晚餐之一，服务很棒，餐厅真的很棒。菜单很棒，辣酱是完美的香料。爱它！！
                </div>
                <a class="icon">
                  <img src="/public/images/google_small_icon.png" alt="">
                </a>
              </div>
              <div class="author">
                <div class="photo-img">
                  <img src="/public/images/unnamed.png" alt="">
                </div>
                <div class="text">
                  <div class="title">帕科·奥尔蒂斯
                  </div>
                  <div class="date">2022 年 8 月 6 日</div>
                </div>
              </div>
            </li>
            <li class="testimonials-item">
              <div class="cont">
                <div class="star">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <div class="text">
                  有史以来最好的食物，并且能够像孩子一样用手吃饭只会增加体验。这是我一段时间以来吃过的最好的晚餐之一，服务很棒，餐厅真的很棒。菜单很棒，辣酱是完美的香料。爱它！！
                </div>
                <a class="icon">
                  <img src="/public/images/google_small_icon.png" alt="">
                </a>
              </div>
              <div class="author">
                <div class="photo-img">
                  <img src="/public/images/unnamed.png" alt="">
                </div>
                <div class="text">
                  <div class="title">帕科·奥尔蒂斯
                  </div>
                  <div class="date">2022 年 8 月 6 日</div>
                </div>
              </div>
            </li>
            <li class="testimonials-item">
              <div class="cont">
                <div class="star">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <div class="text">
                  有史以来最好的食物，并且能够像孩子一样用手吃饭只会增加体验。这是我一段时间以来吃过的最好的晚餐之一，服务很棒，餐厅真的很棒。菜单很棒，辣酱是完美的香料。爱它！！
                </div>
                <a class="icon">
                  <img src="/public/images/google_small_icon.png" alt="">
                </a>
              </div>
              <div class="author">
                <div class="photo-img">
                  <img src="/public/images/unnamed.png" alt="">
                </div>
                <div class="text">
                  <div class="title">帕科·奥尔蒂斯
                  </div>
                  <div class="date">2022 年 8 月 6 日</div>
                </div>
              </div>
            </li>
            <li class="testimonials-item">
              <div class="cont">
                <div class="star">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <div class="text">
                  有史以来最好的食物，并且能够像孩子一样用手吃饭只会增加体验。这是我一段时间以来吃过的最好的晚餐之一，服务很棒，餐厅真的很棒。菜单很棒，辣酱是完美的香料。爱它！！
                </div>
                <a class="icon">
                  <img src="/public/images/google_small_icon.png" alt="">
                </a>
              </div>
              <div class="author">
                <div class="photo-img">
                  <img src="/public/images/unnamed.png" alt="">
                </div>
                <div class="text">
                  <div class="title">帕科·奥尔蒂斯
                  </div>
                  <div class="date">2022 年 8 月 6 日</div>
                </div>
              </div>
            </li>
            <li class="testimonials-item">
              <div class="cont">
                <div class="star">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <div class="text">
                  有史以来最好的食物，并且能够像孩子一样用手吃饭只会增加体验。这是我一段时间以来吃过的最好的晚餐之一，服务很棒，餐厅真的很棒。菜单很棒，辣酱是完美的香料。爱它！！
                </div>
                <a class="icon">
                  <img src="/public/images/google_small_icon.png" alt="">
                </a>
              </div>
              <div class="author">
                <div class="photo-img">
                  <img src="/public/images/unnamed.png" alt="">
                </div>
                <div class="text">
                  <div class="title">帕科·奥尔蒂斯
                  </div>
                  <div class="date">2022 年 8 月 6 日</div>
                </div>
              </div>
            </li>
            <li class="testimonials-item">
              <div class="cont">
                <div class="star">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <div class="text">
                  有史以来最好的食物，并且能够像孩子一样用手吃饭只会增加体验。这是我一段时间以来吃过的最好的晚餐之一，服务很棒，餐厅真的很棒。菜单很棒，辣酱是完美的香料。爱它！！
                </div>
                <a class="icon">
                  <img src="/public/images/google_small_icon.png" alt="">
                </a>
              </div>
              <div class="author">
                <div class="photo-img">
                  <img src="/public/images/unnamed.png" alt="">
                </div>
                <div class="text">
                  <div class="title">帕科·奥尔蒂斯
                  </div>
                  <div class="date">2022 年 8 月 6 日</div>
                </div>
              </div>
            </li>
            <li class="testimonials-item">
              <div class="cont">
                <div class="star">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <div class="text">
                  有史以来最好的食物，并且能够像孩子一样用手吃饭只会增加体验。这是我一段时间以来吃过的最好的晚餐之一，服务很棒，餐厅真的很棒。菜单很棒，辣酱是完美的香料。爱它！！
                </div>
                <a class="icon">
                  <img src="/public/images/google_small_icon.png" alt="">
                </a>
              </div>
              <div class="author">
                <div class="photo-img">
                  <img src="/public/images/unnamed.png" alt="">
                </div>
                <div class="text">
                  <div class="title">帕科·奥尔蒂斯
                  </div>
                  <div class="date">2022 年 8 月 6 日</div>
                </div>
              </div>
            </li>
            <li class="testimonials-item">
              <div class="cont">
                <div class="star">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <div class="text">
                  有史以来最好的食物，并且能够像孩子一样用手吃饭只会增加体验。这是我一段时间以来吃过的最好的晚餐之一，服务很棒，餐厅真的很棒。菜单很棒，辣酱是完美的香料。爱它！！
                </div>
                <a class="icon">
                  <img src="/public/images/google_small_icon.png" alt="">
                </a>
              </div>
              <div class="author">
                <div class="photo-img">
                  <img src="/public/images/unnamed.png" alt="">
                </div>
                <div class="text">
                  <div class="title">帕科·奥尔蒂斯
                  </div>
                  <div class="date">2022 年 8 月 6 日</div>
                </div>
              </div>
            </li>
            <li class="testimonials-item">
              <div class="cont">
                <div class="star">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <div class="text">
                  有史以来最好的食物，并且能够像孩子一样用手吃饭只会增加体验。这是我一段时间以来吃过的最好的晚餐之一，服务很棒，餐厅真的很棒。菜单很棒，辣酱是完美的香料。爱它！！
                </div>
                <a class="icon">
                  <img src="/public/images/google_small_icon.png" alt="">
                </a>
              </div>
              <div class="author">
                <div class="photo-img">
                  <img src="/public/images/unnamed.png" alt="">
                </div>
                <div class="text">
                  <div class="title">帕科·奥尔蒂斯
                  </div>
                  <div class="date">2022 年 8 月 6 日</div>
                </div>
              </div>
            </li>
            <li class="testimonials-item">
              <div class="cont">
                <div class="star">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <div class="text">
                  有史以来最好的食物，并且能够像孩子一样用手吃饭只会增加体验。这是我一段时间以来吃过的最好的晚餐之一，服务很棒，餐厅真的很棒。菜单很棒，辣酱是完美的香料。爱它！！
                </div>
                <a class="icon">
                  <img src="/public/images/google_small_icon.png" alt="">
                </a>
              </div>
              <div class="author">
                <div class="photo-img">
                  <img src="/public/images/unnamed.png" alt="">
                </div>
                <div class="text">
                  <div class="title">帕科·奥尔蒂斯
                  </div>
                  <div class="date">2022 年 8 月 6 日</div>
                </div>
              </div>
            </li>
            <li class="testimonials-item">
              <div class="cont">
                <div class="star">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <div class="text">
                  有史以来最好的食物，并且能够像孩子一样用手吃饭只会增加体验。这是我一段时间以来吃过的最好的晚餐之一，服务很棒，餐厅真的很棒。菜单很棒，辣酱是完美的香料。爱它！！
                </div>
                <a class="icon">
                  <img src="/public/images/google_small_icon.png" alt="">
                </a>
              </div>
              <div class="author">
                <div class="photo-img">
                  <img src="/public/images/unnamed.png" alt="">
                </div>
                <div class="text">
                  <div class="title">帕科·奥尔蒂斯
                  </div>
                  <div class="date">2022 年 8 月 6 日</div>
                </div>
              </div>
            </li>
          </ul>
          <ul class="testimonials-list swiper-slide">
            <li class="testimonials-item">
              <div class="cont">
                <div class="star">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <div class="text">
                  有史以来最好的食物，并且能够像孩子一样用手吃饭只会增加体验。这是我一段时间以来吃过的最好的晚餐之一，服务很棒，餐厅真的很棒。菜单很棒，辣酱是完美的香料。爱它！！
                </div>
                <a class="icon">
                  <img src="/public/images/google_small_icon.png" alt="">
                </a>
              </div>
              <div class="author">
                <div class="photo-img">
                  <img src="/public/images/unnamed.png" alt="">
                </div>
                <div class="text">
                  <div class="title">帕科·奥尔蒂斯
                  </div>
                  <div class="date">2022 年 8 月 6 日</div>
                </div>
              </div>
            </li>
            <li class="testimonials-item">
              <div class="cont">
                <div class="star">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <div class="text">
                  有史以来最好的食物，并且能够像孩子一样用手吃饭只会增加体验。这是我一段时间以来吃过的最好的晚餐之一，服务很棒，餐厅真的很棒。菜单很棒，辣酱是完美的香料。爱它！！
                </div>
                <a class="icon">
                  <img src="/public/images/google_small_icon.png" alt="">
                </a>
              </div>
              <div class="author">
                <div class="photo-img">
                  <img src="/public/images/unnamed.png" alt="">
                </div>
                <div class="text">
                  <div class="title">帕科·奥尔蒂斯
                  </div>
                  <div class="date">2022 年 8 月 6 日</div>
                </div>
              </div>
            </li>
            <li class="testimonials-item">
              <div class="cont">
                <div class="star">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <div class="text">
                  有史以来最好的食物，并且能够像孩子一样用手吃饭只会增加体验。这是我一段时间以来吃过的最好的晚餐之一，服务很棒，餐厅真的很棒。菜单很棒，辣酱是完美的香料。爱它！！
                </div>
                <a class="icon">
                  <img src="/public/images/google_small_icon.png" alt="">
                </a>
              </div>
              <div class="author">
                <div class="photo-img">
                  <img src="/public/images/unnamed.png" alt="">
                </div>
                <div class="text">
                  <div class="title">帕科·奥尔蒂斯
                  </div>
                  <div class="date">2022 年 8 月 6 日</div>
                </div>
              </div>
            </li>
            <li class="testimonials-item">
              <div class="cont">
                <div class="star">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <div class="text">
                  有史以来最好的食物，并且能够像孩子一样用手吃饭只会增加体验。这是我一段时间以来吃过的最好的晚餐之一，服务很棒，餐厅真的很棒。菜单很棒，辣酱是完美的香料。爱它！！
                </div>
                <a class="icon">
                  <img src="/public/images/google_small_icon.png" alt="">
                </a>
              </div>
              <div class="author">
                <div class="photo-img">
                  <img src="/public/images/unnamed.png" alt="">
                </div>
                <div class="text">
                  <div class="title">帕科·奥尔蒂斯
                  </div>
                  <div class="date">2022 年 8 月 6 日</div>
                </div>
              </div>
            </li>
            <li class="testimonials-item">
              <div class="cont">
                <div class="star">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <div class="text">
                  有史以来最好的食物，并且能够像孩子一样用手吃饭只会增加体验。这是我一段时间以来吃过的最好的晚餐之一，服务很棒，餐厅真的很棒。菜单很棒，辣酱是完美的香料。爱它！！
                </div>
                <a class="icon">
                  <img src="/public/images/google_small_icon.png" alt="">
                </a>
              </div>
              <div class="author">
                <div class="photo-img">
                  <img src="/public/images/unnamed.png" alt="">
                </div>
                <div class="text">
                  <div class="title">帕科·奥尔蒂斯
                  </div>
                  <div class="date">2022 年 8 月 6 日</div>
                </div>
              </div>
            </li>
            <li class="testimonials-item">
              <div class="cont">
                <div class="star">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <div class="text">
                  有史以来最好的食物，并且能够像孩子一样用手吃饭只会增加体验。这是我一段时间以来吃过的最好的晚餐之一，服务很棒，餐厅真的很棒。菜单很棒，辣酱是完美的香料。爱它！！
                </div>
                <a class="icon">
                  <img src="/public/images/google_small_icon.png" alt="">
                </a>
              </div>
              <div class="author">
                <div class="photo-img">
                  <img src="/public/images/unnamed.png" alt="">
                </div>
                <div class="text">
                  <div class="title">帕科·奥尔蒂斯
                  </div>
                  <div class="date">2022 年 8 月 6 日</div>
                </div>
              </div>
            </li>
            <li class="testimonials-item">
              <div class="cont">
                <div class="star">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <div class="text">
                  有史以来最好的食物，并且能够像孩子一样用手吃饭只会增加体验。这是我一段时间以来吃过的最好的晚餐之一，服务很棒，餐厅真的很棒。菜单很棒，辣酱是完美的香料。爱它！！
                </div>
                <a class="icon">
                  <img src="/public/images/google_small_icon.png" alt="">
                </a>
              </div>
              <div class="author">
                <div class="photo-img">
                  <img src="/public/images/unnamed.png" alt="">
                </div>
                <div class="text">
                  <div class="title">帕科·奥尔蒂斯
                  </div>
                  <div class="date">2022 年 8 月 6 日</div>
                </div>
              </div>
            </li>
            <li class="testimonials-item">
              <div class="cont">
                <div class="star">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <div class="text">
                  有史以来最好的食物，并且能够像孩子一样用手吃饭只会增加体验。这是我一段时间以来吃过的最好的晚餐之一，服务很棒，餐厅真的很棒。菜单很棒，辣酱是完美的香料。爱它！！
                </div>
                <a class="icon">
                  <img src="/public/images/google_small_icon.png" alt="">
                </a>
              </div>
              <div class="author">
                <div class="photo-img">
                  <img src="/public/images/unnamed.png" alt="">
                </div>
                <div class="text">
                  <div class="title">帕科·奥尔蒂斯
                  </div>
                  <div class="date">2022 年 8 月 6 日</div>
                </div>
              </div>
            </li>
            <li class="testimonials-item">
              <div class="cont">
                <div class="star">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <div class="text">
                  有史以来最好的食物，并且能够像孩子一样用手吃饭只会增加体验。这是我一段时间以来吃过的最好的晚餐之一，服务很棒，餐厅真的很棒。菜单很棒，辣酱是完美的香料。爱它！！
                </div>
                <a class="icon">
                  <img src="/public/images/google_small_icon.png" alt="">
                </a>
              </div>
              <div class="author">
                <div class="photo-img">
                  <img src="/public/images/unnamed.png" alt="">
                </div>
                <div class="text">
                  <div class="title">帕科·奥尔蒂斯
                  </div>
                  <div class="date">2022 年 8 月 6 日</div>
                </div>
              </div>
            </li>
            <li class="testimonials-item">
              <div class="cont">
                <div class="star">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <div class="text">
                  有史以来最好的食物，并且能够像孩子一样用手吃饭只会增加体验。这是我一段时间以来吃过的最好的晚餐之一，服务很棒，餐厅真的很棒。菜单很棒，辣酱是完美的香料。爱它！！
                </div>
                <a class="icon">
                  <img src="/public/images/google_small_icon.png" alt="">
                </a>
              </div>
              <div class="author">
                <div class="photo-img">
                  <img src="/public/images/unnamed.png" alt="">
                </div>
                <div class="text">
                  <div class="title">帕科·奥尔蒂斯
                  </div>
                  <div class="date">2022 年 8 月 6 日</div>
                </div>
              </div>
            </li>
            <li class="testimonials-item">
              <div class="cont">
                <div class="star">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <div class="text">
                  有史以来最好的食物，并且能够像孩子一样用手吃饭只会增加体验。这是我一段时间以来吃过的最好的晚餐之一，服务很棒，餐厅真的很棒。菜单很棒，辣酱是完美的香料。爱它！！
                </div>
                <a class="icon">
                  <img src="/public/images/google_small_icon.png" alt="">
                </a>
              </div>
              <div class="author">
                <div class="photo-img">
                  <img src="/public/images/unnamed.png" alt="">
                </div>
                <div class="text">
                  <div class="title">帕科·奥尔蒂斯
                  </div>
                  <div class="date">2022 年 8 月 6 日</div>
                </div>
              </div>
            </li>
            <li class="testimonials-item">
              <div class="cont">
                <div class="star">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <div class="text">
                  有史以来最好的食物，并且能够像孩子一样用手吃饭只会增加体验。这是我一段时间以来吃过的最好的晚餐之一，服务很棒，餐厅真的很棒。菜单很棒，辣酱是完美的香料。爱它！！
                </div>
                <a class="icon">
                  <img src="/public/images/google_small_icon.png" alt="">
                </a>
              </div>
              <div class="author">
                <div class="photo-img">
                  <img src="/public/images/unnamed.png" alt="">
                </div>
                <div class="text">
                  <div class="title">帕科·奥尔蒂斯
                  </div>
                  <div class="date">2022 年 8 月 6 日</div>
                </div>
              </div>
            </li>
            <li class="testimonials-item">
              <div class="cont">
                <div class="star">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <div class="text">
                  有史以来最好的食物，并且能够像孩子一样用手吃饭只会增加体验。这是我一段时间以来吃过的最好的晚餐之一，服务很棒，餐厅真的很棒。菜单很棒，辣酱是完美的香料。爱它！！
                </div>
                <a class="icon">
                  <img src="/public/images/google_small_icon.png" alt="">
                </a>
              </div>
              <div class="author">
                <div class="photo-img">
                  <img src="/public/images/unnamed.png" alt="">
                </div>
                <div class="text">
                  <div class="title">帕科·奥尔蒂斯
                  </div>
                  <div class="date">2022 年 8 月 6 日</div>
                </div>
              </div>
            </li>
            <li class="testimonials-item">
              <div class="cont">
                <div class="star">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <div class="text">
                  有史以来最好的食物，并且能够像孩子一样用手吃饭只会增加体验。这是我一段时间以来吃过的最好的晚餐之一，服务很棒，餐厅真的很棒。菜单很棒，辣酱是完美的香料。爱它！！
                </div>
                <a class="icon">
                  <img src="/public/images/google_small_icon.png" alt="">
                </a>
              </div>
              <div class="author">
                <div class="photo-img">
                  <img src="/public/images/unnamed.png" alt="">
                </div>
                <div class="text">
                  <div class="title">帕科·奥尔蒂斯
                  </div>
                  <div class="date">2022 年 8 月 6 日</div>
                </div>
              </div>
            </li>
            <li class="testimonials-item">
              <div class="cont">
                <div class="star">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <div class="text">
                  有史以来最好的食物，并且能够像孩子一样用手吃饭只会增加体验。这是我一段时间以来吃过的最好的晚餐之一，服务很棒，餐厅真的很棒。菜单很棒，辣酱是完美的香料。爱它！！
                </div>
                <a class="icon">
                  <img src="/public/images/google_small_icon.png" alt="">
                </a>
              </div>
              <div class="author">
                <div class="photo-img">
                  <img src="/public/images/unnamed.png" alt="">
                </div>
                <div class="text">
                  <div class="title">帕科·奥尔蒂斯
                  </div>
                  <div class="date">2022 年 8 月 6 日</div>
                </div>
              </div>
            </li>
            <li class="testimonials-item">
              <div class="cont">
                <div class="star">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <div class="text">
                  有史以来最好的食物，并且能够像孩子一样用手吃饭只会增加体验。这是我一段时间以来吃过的最好的晚餐之一，服务很棒，餐厅真的很棒。菜单很棒，辣酱是完美的香料。爱它！！
                </div>
                <a class="icon">
                  <img src="/public/images/google_small_icon.png" alt="">
                </a>
              </div>
              <div class="author">
                <div class="photo-img">
                  <img src="/public/images/unnamed.png" alt="">
                </div>
                <div class="text">
                  <div class="title">帕科·奥尔蒂斯
                  </div>
                  <div class="date">2022 年 8 月 6 日</div>
                </div>
              </div>
            </li>
          </ul>
          <ul class="testimonials-list swiper-slide">
            <li class="testimonials-item">
              <div class="cont">
                <div class="star">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <div class="text">
                  有史以来最好的食物，并且能够像孩子一样用手吃饭只会增加体验。这是我一段时间以来吃过的最好的晚餐之一，服务很棒，餐厅真的很棒。菜单很棒，辣酱是完美的香料。爱它！！
                </div>
                <a class="icon">
                  <img src="/public/images/google_small_icon.png" alt="">
                </a>
              </div>
              <div class="author">
                <div class="photo-img">
                  <img src="/public/images/unnamed.png" alt="">
                </div>
                <div class="text">
                  <div class="title">帕科·奥尔蒂斯
                  </div>
                  <div class="date">2022 年 8 月 6 日</div>
                </div>
              </div>
            </li>
            <li class="testimonials-item">
              <div class="cont">
                <div class="star">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <div class="text">
                  有史以来最好的食物，并且能够像孩子一样用手吃饭只会增加体验。这是我一段时间以来吃过的最好的晚餐之一，服务很棒，餐厅真的很棒。菜单很棒，辣酱是完美的香料。爱它！！
                </div>
                <a class="icon">
                  <img src="/public/images/google_small_icon.png" alt="">
                </a>
              </div>
              <div class="author">
                <div class="photo-img">
                  <img src="/public/images/unnamed.png" alt="">
                </div>
                <div class="text">
                  <div class="title">帕科·奥尔蒂斯
                  </div>
                  <div class="date">2022 年 8 月 6 日</div>
                </div>
              </div>
            </li>
            <li class="testimonials-item">
              <div class="cont">
                <div class="star">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <div class="text">
                  有史以来最好的食物，并且能够像孩子一样用手吃饭只会增加体验。这是我一段时间以来吃过的最好的晚餐之一，服务很棒，餐厅真的很棒。菜单很棒，辣酱是完美的香料。爱它！！
                </div>
                <a class="icon">
                  <img src="/public/images/google_small_icon.png" alt="">
                </a>
              </div>
              <div class="author">
                <div class="photo-img">
                  <img src="/public/images/unnamed.png" alt="">
                </div>
                <div class="text">
                  <div class="title">帕科·奥尔蒂斯
                  </div>
                  <div class="date">2022 年 8 月 6 日</div>
                </div>
              </div>
            </li>
            <li class="testimonials-item">
              <div class="cont">
                <div class="star">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <div class="text">
                  有史以来最好的食物，并且能够像孩子一样用手吃饭只会增加体验。这是我一段时间以来吃过的最好的晚餐之一，服务很棒，餐厅真的很棒。菜单很棒，辣酱是完美的香料。爱它！！
                </div>
                <a class="icon">
                  <img src="/public/images/google_small_icon.png" alt="">
                </a>
              </div>
              <div class="author">
                <div class="photo-img">
                  <img src="/public/images/unnamed.png" alt="">
                </div>
                <div class="text">
                  <div class="title">帕科·奥尔蒂斯
                  </div>
                  <div class="date">2022 年 8 月 6 日</div>
                </div>
              </div>
            </li>
            <li class="testimonials-item">
              <div class="cont">
                <div class="star">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <div class="text">
                  有史以来最好的食物，并且能够像孩子一样用手吃饭只会增加体验。这是我一段时间以来吃过的最好的晚餐之一，服务很棒，餐厅真的很棒。菜单很棒，辣酱是完美的香料。爱它！！
                </div>
                <a class="icon">
                  <img src="/public/images/google_small_icon.png" alt="">
                </a>
              </div>
              <div class="author">
                <div class="photo-img">
                  <img src="/public/images/unnamed.png" alt="">
                </div>
                <div class="text">
                  <div class="title">帕科·奥尔蒂斯
                  </div>
                  <div class="date">2022 年 8 月 6 日</div>
                </div>
              </div>
            </li>
            <li class="testimonials-item">
              <div class="cont">
                <div class="star">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <div class="text">
                  有史以来最好的食物，并且能够像孩子一样用手吃饭只会增加体验。这是我一段时间以来吃过的最好的晚餐之一，服务很棒，餐厅真的很棒。菜单很棒，辣酱是完美的香料。爱它！！
                </div>
                <a class="icon">
                  <img src="/public/images/google_small_icon.png" alt="">
                </a>
              </div>
              <div class="author">
                <div class="photo-img">
                  <img src="/public/images/unnamed.png" alt="">
                </div>
                <div class="text">
                  <div class="title">帕科·奥尔蒂斯
                  </div>
                  <div class="date">2022 年 8 月 6 日</div>
                </div>
              </div>
            </li>
            <li class="testimonials-item">
              <div class="cont">
                <div class="star">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <div class="text">
                  有史以来最好的食物，并且能够像孩子一样用手吃饭只会增加体验。这是我一段时间以来吃过的最好的晚餐之一，服务很棒，餐厅真的很棒。菜单很棒，辣酱是完美的香料。爱它！！
                </div>
                <a class="icon">
                  <img src="/public/images/google_small_icon.png" alt="">
                </a>
              </div>
              <div class="author">
                <div class="photo-img">
                  <img src="/public/images/unnamed.png" alt="">
                </div>
                <div class="text">
                  <div class="title">帕科·奥尔蒂斯
                  </div>
                  <div class="date">2022 年 8 月 6 日</div>
                </div>
              </div>
            </li>
            <li class="testimonials-item">
              <div class="cont">
                <div class="star">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <div class="text">
                  有史以来最好的食物，并且能够像孩子一样用手吃饭只会增加体验。这是我一段时间以来吃过的最好的晚餐之一，服务很棒，餐厅真的很棒。菜单很棒，辣酱是完美的香料。爱它！！
                </div>
                <a class="icon">
                  <img src="/public/images/google_small_icon.png" alt="">
                </a>
              </div>
              <div class="author">
                <div class="photo-img">
                  <img src="/public/images/unnamed.png" alt="">
                </div>
                <div class="text">
                  <div class="title">帕科·奥尔蒂斯
                  </div>
                  <div class="date">2022 年 8 月 6 日</div>
                </div>
              </div>
            </li>
            <li class="testimonials-item">
              <div class="cont">
                <div class="star">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <div class="text">
                  有史以来最好的食物，并且能够像孩子一样用手吃饭只会增加体验。这是我一段时间以来吃过的最好的晚餐之一，服务很棒，餐厅真的很棒。菜单很棒，辣酱是完美的香料。爱它！！
                </div>
                <a class="icon">
                  <img src="/public/images/google_small_icon.png" alt="">
                </a>
              </div>
              <div class="author">
                <div class="photo-img">
                  <img src="/public/images/unnamed.png" alt="">
                </div>
                <div class="text">
                  <div class="title">帕科·奥尔蒂斯
                  </div>
                  <div class="date">2022 年 8 月 6 日</div>
                </div>
              </div>
            </li>
            <li class="testimonials-item">
              <div class="cont">
                <div class="star">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <div class="text">
                  有史以来最好的食物，并且能够像孩子一样用手吃饭只会增加体验。这是我一段时间以来吃过的最好的晚餐之一，服务很棒，餐厅真的很棒。菜单很棒，辣酱是完美的香料。爱它！！
                </div>
                <a class="icon">
                  <img src="/public/images/google_small_icon.png" alt="">
                </a>
              </div>
              <div class="author">
                <div class="photo-img">
                  <img src="/public/images/unnamed.png" alt="">
                </div>
                <div class="text">
                  <div class="title">帕科·奥尔蒂斯
                  </div>
                  <div class="date">2022 年 8 月 6 日</div>
                </div>
              </div>
            </li>
            <li class="testimonials-item">
              <div class="cont">
                <div class="star">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <div class="text">
                  有史以来最好的食物，并且能够像孩子一样用手吃饭只会增加体验。这是我一段时间以来吃过的最好的晚餐之一，服务很棒，餐厅真的很棒。菜单很棒，辣酱是完美的香料。爱它！！
                </div>
                <a class="icon">
                  <img src="/public/images/google_small_icon.png" alt="">
                </a>
              </div>
              <div class="author">
                <div class="photo-img">
                  <img src="/public/images/unnamed.png" alt="">
                </div>
                <div class="text">
                  <div class="title">帕科·奥尔蒂斯
                  </div>
                  <div class="date">2022 年 8 月 6 日</div>
                </div>
              </div>
            </li>
            <li class="testimonials-item">
              <div class="cont">
                <div class="star">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <div class="text">
                  有史以来最好的食物，并且能够像孩子一样用手吃饭只会增加体验。这是我一段时间以来吃过的最好的晚餐之一，服务很棒，餐厅真的很棒。菜单很棒，辣酱是完美的香料。爱它！！
                </div>
                <a class="icon">
                  <img src="/public/images/google_small_icon.png" alt="">
                </a>
              </div>
              <div class="author">
                <div class="photo-img">
                  <img src="/public/images/unnamed.png" alt="">
                </div>
                <div class="text">
                  <div class="title">帕科·奥尔蒂斯
                  </div>
                  <div class="date">2022 年 8 月 6 日</div>
                </div>
              </div>
            </li>
            <li class="testimonials-item">
              <div class="cont">
                <div class="star">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <div class="text">
                  有史以来最好的食物，并且能够像孩子一样用手吃饭只会增加体验。这是我一段时间以来吃过的最好的晚餐之一，服务很棒，餐厅真的很棒。菜单很棒，辣酱是完美的香料。爱它！！
                </div>
                <a class="icon">
                  <img src="/public/images/google_small_icon.png" alt="">
                </a>
              </div>
              <div class="author">
                <div class="photo-img">
                  <img src="/public/images/unnamed.png" alt="">
                </div>
                <div class="text">
                  <div class="title">帕科·奥尔蒂斯
                  </div>
                  <div class="date">2022 年 8 月 6 日</div>
                </div>
              </div>
            </li>
            <li class="testimonials-item">
              <div class="cont">
                <div class="star">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <div class="text">
                  有史以来最好的食物，并且能够像孩子一样用手吃饭只会增加体验。这是我一段时间以来吃过的最好的晚餐之一，服务很棒，餐厅真的很棒。菜单很棒，辣酱是完美的香料。爱它！！
                </div>
                <a class="icon">
                  <img src="/public/images/google_small_icon.png" alt="">
                </a>
              </div>
              <div class="author">
                <div class="photo-img">
                  <img src="/public/images/unnamed.png" alt="">
                </div>
                <div class="text">
                  <div class="title">帕科·奥尔蒂斯
                  </div>
                  <div class="date">2022 年 8 月 6 日</div>
                </div>
              </div>
            </li>
            <li class="testimonials-item">
              <div class="cont">
                <div class="star">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <div class="text">
                  有史以来最好的食物，并且能够像孩子一样用手吃饭只会增加体验。这是我一段时间以来吃过的最好的晚餐之一，服务很棒，餐厅真的很棒。菜单很棒，辣酱是完美的香料。爱它！！
                </div>
                <a class="icon">
                  <img src="/public/images/google_small_icon.png" alt="">
                </a>
              </div>
              <div class="author">
                <div class="photo-img">
                  <img src="/public/images/unnamed.png" alt="">
                </div>
                <div class="text">
                  <div class="title">帕科·奥尔蒂斯
                  </div>
                  <div class="date">2022 年 8 月 6 日</div>
                </div>
              </div>
            </li>
            <li class="testimonials-item">
              <div class="cont">
                <div class="star">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
                <div class="text">
                  有史以来最好的食物，并且能够像孩子一样用手吃饭只会增加体验。这是我一段时间以来吃过的最好的晚餐之一，服务很棒，餐厅真的很棒。菜单很棒，辣酱是完美的香料。爱它！！
                </div>
                <a class="icon">
                  <img src="/public/images/google_small_icon.png" alt="">
                </a>
              </div>
              <div class="author">
                <div class="photo-img">
                  <img src="/public/images/unnamed.png" alt="">
                </div>
                <div class="text">
                  <div class="title">帕科·奥尔蒂斯
                  </div>
                  <div class="date">2022 年 8 月 6 日</div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>