@import "~@/assets/global.less";
body{
  padding-top: 150px;
}
.star i {
  display: block;
  width: 18px;
  height: 18px;
  background-color: gold;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 20 22'%3E%3Cpath d='M20.429 8.14c0 0.221-0.16 0.43-0.319 0.589l-4.456 4.346 1.056 6.138c0.012 0.086 0.012 0.16 0.012 0.246 0 0.319-0.147 0.614-0.503 0.614-0.172 0-0.344-0.061-0.491-0.147l-5.512-2.897-5.512 2.897c-0.16 0.086-0.319 0.147-0.491 0.147-0.356 0-0.516-0.295-0.516-0.614 0-0.086 0.012-0.16 0.025-0.246l1.056-6.138-4.469-4.346c-0.147-0.16-0.307-0.368-0.307-0.589 0-0.368 0.381-0.516 0.687-0.565l6.163-0.896 2.762-5.586c0.11-0.233 0.319-0.503 0.602-0.503s0.491 0.27 0.602 0.503l2.762 5.586 6.163 0.896c0.295 0.049 0.688 0.196 0.688 0.565z'%3E%3C/path%3E%3C/svg%3E%0A");
  background-size: contain;
}
.banner-swiper {
  .swiper-slide {
    height: 660px;
    position: relative;
  }
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .text {
    position: absolute;
    width: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    .title {
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 30px;
    }
    .desc {
      font-size: 20px;
      margin-bottom: 30px;
    }
    .more {
      .flex();
      cursor: pointer;
      margin: 0 auto;
      width: 100px;
      font-size: 16px;
      border: 5px solid #fff;
      padding: 15px;
      transition: 0.6s;
      &:hover {
        background-color: #fff;
        color: #000;
      }
    }
  }
}
.product-container {
  padding: 50px 0;
  .title {
    font-size: 40px;
    color: #333;
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
  }
  .product-list {
    .flex();
    .product-item {
      margin: 0 10px;
      width: calc(100% / 3 - 20px);
      padding-top: calc((100% / 3 - 20px) * 1.3);
      position: relative;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}
.about-container {
  background-color: #000;
  padding: 50px 0;
  .about-box {
    .flex(space-between,flex-start);
    .left-layout {
      width: 40%;
      img {
        max-width: 100%;
      }
    }
    .right-layout {
      width: 60%;
      padding: 0 30px;
      box-sizing: border-box;
      .text {
        .title {
          font-size: 50px;
          margin-bottom: 30px;
          font-weight: bold;
          color: #f00;
          text-align: center;
        }
        .cont {
          font-size: 30px;
          text-align: left;
          color: #fff;
          font-weight: bold;
          line-height: 1.7;
          p {
            margin-bottom: 25px;
          }
        }
      }
    }
  }
}
.menu-favorites-container {
  padding: 50px 0;
  .flex(space-between, flex-start);
  .left-layout {
    width: 70%;
    padding-right: 50px;
    box-sizing: border-box;
    .module-title {
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 40px;
    }
    .menu-favorites-list {
      .flex(space-between,flex-start);
      .menu-favorites-item {
        width: 30%;
        margin-bottom: 40px;
        font-family: Arial, Helvetica, sans-serif;
        .title {
          font-size: 17px;
          text-transform: uppercase;
          font-weight: 800;
          margin-bottom: 10px;
        }
        .cont {
          font-size: 16px;
          color: #1e1e1e;
        }
      }
    }
  }
  .right-layout {
    width: 30%;
    img {
      width: 100%;
    }
  }
}
.text-container {
  text-align: center;
  font-size: 70px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: #f00;
  padding: 30px 0;
  background-color: #000;
}
.news-container {
  background-color: #f9f9f9;
  padding: 20px 0;
  .news-list {
    .flex(space-between, flex-start);
    .news-item {
      margin: 0 15px 60px;
      width: calc(100% / 3 - 30px);
      .img {
        width: 100%;
        padding-top: 100%;
        position: relative;
        overflow: hidden;
        img {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          object-fit: cover;
        }
      }
      .text {
        padding-top: 20px;
        .title {
          font-size: 28px;
          font-weight: bold;
          margin-bottom: 15px;
          color: #333;
        }
        .desc {
          color: #6a6a6a;
          font-size: 16px;
          margin-bottom: 10px;
        }
        .more {
          .flex();
          width: 120px;
          height: 46px;
          background-color: #f4524d;
          color: #fff;
          font-size: 14px;
          border-radius: 6px;
          &:hover {
            background-color: #f23630;
          }
        }
      }
    }
  }
}
.select-container {
  background-color: #000;
  padding: 50px 0;
  .title {
    font-size: 40px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
  }
  .select-list {
    .flex(space-between);
    .select-item {
      font-size: 28px;
      .flex();
      width: 320px;
      height: 56px;
      font-weight: bold;
      color: #000;
      background-color: #fff;
      margin: 0 45px;
      cursor: pointer;
      a {
        color: inherit;
      }
    }
  }
}
.testimonials-container {
  padding: 50px 0;
  .title-module {
    text-align: center;
    margin-bottom: 35px;
    .subtitle {
      color: #8a8a8a;
      font-size: 16px;
      margin-bottom: 5px;
    }
    .title {
      font-size: 28px;
      font-weight: bold;
      color: #333;
    }
  }
  .testimonials-box {
    padding-bottom: 50px;
    .testimonials-list {
      .flex(space-between,flex-start);
      .testimonials-item {
        width: 25%;
        box-sizing: border-box;
        padding: 0 8px;
        margin-bottom: 40px;
        .cont {
          box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
          border: 1px solid #f5f5f5;
          padding: 20px 25px 20px 48px;
          position: relative;
          margin-bottom: 50px;
          &::before {
            position: absolute;
            content: "“";
            left: -15px;
            font-size: 60px;
            color: #bbb;
            font-family: cursive;
          }
          .star {
            .flex(flex-start,flex-start);
          }
          .text {
            color: #777;
            font-size: 14px;
            font-style: italic;
            line-height: 1.7;
          }
          .icon {
            position: absolute;
            width: 32px;
            height: 32px;
            right: 2px;
            bottom: 2px;
          }
          &::after {
            content: "";
            bottom: -30px;
            filter: drop-shadow(rgba(0, 0, 0, .1) 2px 2px 1px);
            position: absolute;
            border-top: 30px solid #fff;
            border-right: 30px solid transparent;
            border-bottom: 0 solid transparent;
            border-left: 0 solid transparent;
          }
        }
        .author{
          .flex(flex-start);
          .photo-img{
            width: 50px;
            height: 50px;
            position: relative;
            border-radius: 50%;
            margin-right: 20px;
            img{
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
          }
          .text{
            font-size: 13px;
            color:#555;
            .title{
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }
  .swiper-pagination-bullet{
    background-color: transparent;
    border: 1px solid #c3c3c3;

    opacity: 1;
  }
  .swiper-pagination-bullet-active{
    background-color: #c3c3c3;
  }
}

@import "./768.less" screen and (max-width:768px);