<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
  <%= require("html-loader!../common/banner/index.html") %>
  <section class="location-container">
    <ul class="location-list">
      <li class="location-item">
        <div class="location-box">
          <div class="text-layout">
            <div class="title">Lafayette</div>
            <ul class="contact-list">
              <li class="contact-item">
                <div class="icon">
                  <img src="/public/images/locico.png" alt="">
                </div>
                <div class="text">2330 Kaliste Saloom Rd Lafayette LA 70508</div>
              </li>
              <li class="contact-item">
                <div class="icon">
                  <img src="/public/images/phoneico.png" alt="">
                </div>
                <div class="text">
                  Call us<br>
                  <a href="tel:337-534-8118">337-534-8118</a>
                </div>
              </li>
              <li class="contact-item">
                <div class="icon">
                  <img src="/public/images/emailico.png" alt="">
                </div>
                <div class="text">
                  Email us<br>
                  <a href="mailto:Thefierycrab@gmail.com">Thefierycrab@gmail.com</a>
                </div>
              </li>
            </ul>
            <div class="table-title">Opening Hours</div>
            <table cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td>Monday</td>
                  <td>12:00 pm – 10:00 pm</td>
                </tr>
                <tr>
                  <td>Tuesday</td>
                  <td>12:00 pm – 10:00 pm</td>
                </tr>
                <tr>
                  <td>Wednesday</td>
                  <td>12:00 pm – 10:00 pm</td>
                </tr>
                <tr>
                  <td>Thursday</td>
                  <td>12:00 pm – 10:00 pm</td>
                </tr>
                <tr>
                  <td>Friday</td>
                  <td>12:00 pm – 10:00 pm</td>
                </tr>
                <tr>
                  <td>Saturday</td>
                  <td>12:00 pm – 10:00 pm</td>
                </tr>
                <tr>
                  <td>Sunday</td>
                  <td>12:00 pm – 10:00 pm</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="map-layout">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3312.227946521573!2d150.92520471526456!3d-33.8837827806521!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12966c7bd656c5%3A0xb244ccdc8329a3c9!2s209%20Canley%20Vale%20Rd%2C%20Canley%20Heights%20NSW%202166%2C%20Australia!5e0!3m2!1sen!2sin!4v1606221446246!5m2!1sen!2sin" height="400" frameborder="0"></iframe>
          </div>
        </div>
      </li>
      <li class="location-item">
        <div class="location-box">
          <div class="text-layout">
            <div class="title">Lafayette</div>
            <ul class="contact-list">
              <li class="contact-item">
                <div class="icon">
                  <img src="/public/images/locico.png" alt="">
                </div>
                <div class="text">2330 Kaliste Saloom Rd Lafayette LA 70508</div>
              </li>
              <li class="contact-item">
                <div class="icon">
                  <img src="/public/images/phoneico.png" alt="">
                </div>
                <div class="text">
                  Call us<br>
                  <a href="tel:337-534-8118">337-534-8118</a>
                </div>
              </li>
              <li class="contact-item">
                <div class="icon">
                  <img src="/public/images/emailico.png" alt="">
                </div>
                <div class="text">
                  Email us<br>
                  <a href="mailto:Thefierycrab@gmail.com">Thefierycrab@gmail.com</a>
                </div>
              </li>
            </ul>
            <div class="table-title">Opening Hours</div>
            <table cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td>Monday</td>
                  <td>12:00 pm – 10:00 pm</td>
                </tr>
                <tr>
                  <td>Tuesday</td>
                  <td>12:00 pm – 10:00 pm</td>
                </tr>
                <tr>
                  <td>Wednesday</td>
                  <td>12:00 pm – 10:00 pm</td>
                </tr>
                <tr>
                  <td>Thursday</td>
                  <td>12:00 pm – 10:00 pm</td>
                </tr>
                <tr>
                  <td>Friday</td>
                  <td>12:00 pm – 10:00 pm</td>
                </tr>
                <tr>
                  <td>Saturday</td>
                  <td>12:00 pm – 10:00 pm</td>
                </tr>
                <tr>
                  <td>Sunday</td>
                  <td>12:00 pm – 10:00 pm</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="map-layout">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3312.227946521573!2d150.92520471526456!3d-33.8837827806521!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12966c7bd656c5%3A0xb244ccdc8329a3c9!2s209%20Canley%20Vale%20Rd%2C%20Canley%20Heights%20NSW%202166%2C%20Australia!5e0!3m2!1sen!2sin!4v1606221446246!5m2!1sen!2sin" height="400" frameborder="0"></iframe>
          </div>
        </div>
      </li>
      <li class="location-item">
        <div class="location-box">
          <div class="text-layout">
            <div class="title">Lafayette</div>
            <ul class="contact-list">
              <li class="contact-item">
                <div class="icon">
                  <img src="/public/images/locico.png" alt="">
                </div>
                <div class="text">2330 Kaliste Saloom Rd Lafayette LA 70508</div>
              </li>
              <li class="contact-item">
                <div class="icon">
                  <img src="/public/images/phoneico.png" alt="">
                </div>
                <div class="text">
                  Call us<br>
                  <a href="tel:337-534-8118">337-534-8118</a>
                </div>
              </li>
              <li class="contact-item">
                <div class="icon">
                  <img src="/public/images/emailico.png" alt="">
                </div>
                <div class="text">
                  Email us<br>
                  <a href="mailto:Thefierycrab@gmail.com">Thefierycrab@gmail.com</a>
                </div>
              </li>
            </ul>
            <div class="table-title">Opening Hours</div>
            <table cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td>Monday</td>
                  <td>12:00 pm – 10:00 pm</td>
                </tr>
                <tr>
                  <td>Tuesday</td>
                  <td>12:00 pm – 10:00 pm</td>
                </tr>
                <tr>
                  <td>Wednesday</td>
                  <td>12:00 pm – 10:00 pm</td>
                </tr>
                <tr>
                  <td>Thursday</td>
                  <td>12:00 pm – 10:00 pm</td>
                </tr>
                <tr>
                  <td>Friday</td>
                  <td>12:00 pm – 10:00 pm</td>
                </tr>
                <tr>
                  <td>Saturday</td>
                  <td>12:00 pm – 10:00 pm</td>
                </tr>
                <tr>
                  <td>Sunday</td>
                  <td>12:00 pm – 10:00 pm</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="map-layout">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3312.227946521573!2d150.92520471526456!3d-33.8837827806521!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12966c7bd656c5%3A0xb244ccdc8329a3c9!2s209%20Canley%20Vale%20Rd%2C%20Canley%20Heights%20NSW%202166%2C%20Australia!5e0!3m2!1sen!2sin!4v1606221446246!5m2!1sen!2sin" height="400" frameborder="0"></iframe>
          </div>
        </div>
      </li>
      <li class="location-item">
        <div class="location-box">
          <div class="text-layout">
            <div class="title">Lafayette</div>
            <ul class="contact-list">
              <li class="contact-item">
                <div class="icon">
                  <img src="/public/images/locico.png" alt="">
                </div>
                <div class="text">2330 Kaliste Saloom Rd Lafayette LA 70508</div>
              </li>
              <li class="contact-item">
                <div class="icon">
                  <img src="/public/images/phoneico.png" alt="">
                </div>
                <div class="text">
                  Call us<br>
                  <a href="tel:337-534-8118">337-534-8118</a>
                </div>
              </li>
              <li class="contact-item">
                <div class="icon">
                  <img src="/public/images/emailico.png" alt="">
                </div>
                <div class="text">
                  Email us<br>
                  <a href="mailto:Thefierycrab@gmail.com">Thefierycrab@gmail.com</a>
                </div>
              </li>
            </ul>
            <div class="table-title">Opening Hours</div>
            <table cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td>Monday</td>
                  <td>12:00 pm – 10:00 pm</td>
                </tr>
                <tr>
                  <td>Tuesday</td>
                  <td>12:00 pm – 10:00 pm</td>
                </tr>
                <tr>
                  <td>Wednesday</td>
                  <td>12:00 pm – 10:00 pm</td>
                </tr>
                <tr>
                  <td>Thursday</td>
                  <td>12:00 pm – 10:00 pm</td>
                </tr>
                <tr>
                  <td>Friday</td>
                  <td>12:00 pm – 10:00 pm</td>
                </tr>
                <tr>
                  <td>Saturday</td>
                  <td>12:00 pm – 10:00 pm</td>
                </tr>
                <tr>
                  <td>Sunday</td>
                  <td>12:00 pm – 10:00 pm</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="map-layout">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3312.227946521573!2d150.92520471526456!3d-33.8837827806521!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12966c7bd656c5%3A0xb244ccdc8329a3c9!2s209%20Canley%20Vale%20Rd%2C%20Canley%20Heights%20NSW%202166%2C%20Australia!5e0!3m2!1sen!2sin!4v1606221446246!5m2!1sen!2sin" height="400" frameborder="0"></iframe>
          </div>
        </div>
      </li>
   
    </ul>
  </section>
  <!-- 引入公共页尾 -->
  <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>