<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <div class="title-box">
      <h1 class="page-title">Order now</h1>
      <a href="" class="download-link">Download our Dine-In Menu</a>
    </div>
    <div class="menu-container max-center">
      <ul class="menu-tab-list">
        <li class="menu-tab-item on">APPETIZERS</li>
        <li class="menu-tab-item">PO-BOYS</li>
        <li class="menu-tab-item">BASKETS</li>
        <li class="menu-tab-item">GRILLED</li>
        <li class="menu-tab-item">FRIED RICE</li>
        <li class="menu-tab-item">SOUP</li>
        <li class="menu-tab-item">SALAD</li>
        <li class="menu-tab-item">OYSTER ON THE HALF SHELL</li>
        <li class="menu-tab-item">SIDES</li>
        <li class="menu-tab-item">DESSERT</li>
        <li class="menu-tab-item">KIDS MENU</li>
        <li class="menu-tab-item">SEAFOOD BOILS</li>
        <li class="menu-tab-item">SEAFOOD HOUSE PLATTER</li>
        <li class="menu-tab-item">LUNCH SPECIAL</li>
      </ul>
      <ul class="menu-list">
        <li class="menu-item">
          <div class="cont">
            Served with Your Choice of French Fries, Cajun Fries, or Sweet Potato Fries.
          </div>
          <table>
            <tr>
              <td>HUSH PUPPIES (10)</td>
              <td>FRIED CHEESE STICKS (6)</td>
            </tr>
            <tr>
              <td>FRIED Pickles (15)</td>
              <td>ONION RINGS (15)</td>
            </tr>
            <tr>
              <td>Crab Rangoons (8)</td>
              <td>FRIED CALAMARI (15)</td>
            </tr>
            <tr>
              <td>FRIED Oyster (6)</td>
              <td>FRIED Baby Shrimp</td>
            </tr>
            <tr>
              <td>FRIED Frog Legs (6)</td>
              <td>FRIED Crab Cake (2)</td>
            </tr>
          </table>
        </li>
        <li class="menu-item">
          <div class="cont">
            Served with Your Choice of French Fries, Cajun Fries, or Sweet Potato Fries.
          </div>
          <table>
            <tr>
              <td>HUSH PUPPIES (10)</td>
              <td>FRIED CHEESE STICKS (6)</td>
            </tr>
            <tr>
              <td>FRIED Pickles (15)</td>
              <td>ONION RINGS (15)</td>
            </tr>
            <tr>
              <td>Crab Rangoons (8)</td>
              <td>FRIED CALAMARI (15)</td>
            </tr>
            <tr>
              <td>FRIED Oyster (6)</td>
              <td>FRIED Baby Shrimp</td>
            </tr>
            <tr>
              <td>FRIED Frog Legs (6)</td>
              <td>FRIED Crab Cake (2)</td>
            </tr>
          </table>
        </li>
        <li class="menu-item">
          <div class="cont">
            Served with Your Choice of French Fries, Cajun Fries, or Sweet Potato Fries.
          </div>
          <table>
            <tr>
              <td>HUSH PUPPIES (10)</td>
              <td>FRIED CHEESE STICKS (6)</td>
            </tr>
            <tr>
              <td>FRIED Pickles (15)</td>
              <td>ONION RINGS (15)</td>
            </tr>
            <tr>
              <td>Crab Rangoons (8)</td>
              <td>FRIED CALAMARI (15)</td>
            </tr>
            <tr>
              <td>FRIED Oyster (6)</td>
              <td>FRIED Baby Shrimp</td>
            </tr>
            <tr>
              <td>FRIED Frog Legs (6)</td>
              <td>FRIED Crab Cake (2)</td>
            </tr>
          </table>
        </li>
        <li class="menu-item">
          <div class="cont">
            Served with Your Choice of French Fries, Cajun Fries, or Sweet Potato Fries.
          </div>
          <table>
            <tr>
              <td>HUSH PUPPIES (10)</td>
              <td>FRIED CHEESE STICKS (6)</td>
            </tr>
            <tr>
              <td>FRIED Pickles (15)</td>
              <td>ONION RINGS (15)</td>
            </tr>
            <tr>
              <td>Crab Rangoons (8)</td>
              <td>FRIED CALAMARI (15)</td>
            </tr>
            <tr>
              <td>FRIED Oyster (6)</td>
              <td>FRIED Baby Shrimp</td>
            </tr>
            <tr>
              <td>FRIED Frog Legs (6)</td>
              <td>FRIED Crab Cake (2)</td>
            </tr>
          </table>
        </li>
        <li class="menu-item">
          <div class="cont">
            Served with Your Choice of French Fries, Cajun Fries, or Sweet Potato Fries.
          </div>
          <table>
            <tr>
              <td>HUSH PUPPIES (10)</td>
              <td>FRIED CHEESE STICKS (6)</td>
            </tr>
            <tr>
              <td>FRIED Pickles (15)</td>
              <td>ONION RINGS (15)</td>
            </tr>
            <tr>
              <td>Crab Rangoons (8)</td>
              <td>FRIED CALAMARI (15)</td>
            </tr>
            <tr>
              <td>FRIED Oyster (6)</td>
              <td>FRIED Baby Shrimp</td>
            </tr>
            <tr>
              <td>FRIED Frog Legs (6)</td>
              <td>FRIED Crab Cake (2)</td>
            </tr>
          </table>
        </li>
        <li class="menu-item">
          <div class="cont">
            Served with Your Choice of French Fries, Cajun Fries, or Sweet Potato Fries.
          </div>
          <table>
            <tr>
              <td>HUSH PUPPIES (10)</td>
              <td>FRIED CHEESE STICKS (6)</td>
            </tr>
            <tr>
              <td>FRIED Pickles (15)</td>
              <td>ONION RINGS (15)</td>
            </tr>
            <tr>
              <td>Crab Rangoons (8)</td>
              <td>FRIED CALAMARI (15)</td>
            </tr>
            <tr>
              <td>FRIED Oyster (6)</td>
              <td>FRIED Baby Shrimp</td>
            </tr>
            <tr>
              <td>FRIED Frog Legs (6)</td>
              <td>FRIED Crab Cake (2)</td>
            </tr>
          </table>
        </li>
        <li class="menu-item">
          <div class="cont">
            Served with Your Choice of French Fries, Cajun Fries, or Sweet Potato Fries.
          </div>
          <table>
            <tr>
              <td>HUSH PUPPIES (10)</td>
              <td>FRIED CHEESE STICKS (6)</td>
            </tr>
            <tr>
              <td>FRIED Pickles (15)</td>
              <td>ONION RINGS (15)</td>
            </tr>
            <tr>
              <td>Crab Rangoons (8)</td>
              <td>FRIED CALAMARI (15)</td>
            </tr>
            <tr>
              <td>FRIED Oyster (6)</td>
              <td>FRIED Baby Shrimp</td>
            </tr>
            <tr>
              <td>FRIED Frog Legs (6)</td>
              <td>FRIED Crab Cake (2)</td>
            </tr>
          </table>
        </li>
        <li class="menu-item">
          <div class="cont">
            Served with Your Choice of French Fries, Cajun Fries, or Sweet Potato Fries.
          </div>
          <table>
            <tr>
              <td>HUSH PUPPIES (10)</td>
              <td>FRIED CHEESE STICKS (6)</td>
            </tr>
            <tr>
              <td>FRIED Pickles (15)</td>
              <td>ONION RINGS (15)</td>
            </tr>
            <tr>
              <td>Crab Rangoons (8)</td>
              <td>FRIED CALAMARI (15)</td>
            </tr>
            <tr>
              <td>FRIED Oyster (6)</td>
              <td>FRIED Baby Shrimp</td>
            </tr>
            <tr>
              <td>FRIED Frog Legs (6)</td>
              <td>FRIED Crab Cake (2)</td>
            </tr>
          </table>
        </li>
        <li class="menu-item">
          <div class="cont">
            Served with Your Choice of French Fries, Cajun Fries, or Sweet Potato Fries.
          </div>
          <table>
            <tr>
              <td>HUSH PUPPIES (10)</td>
              <td>FRIED CHEESE STICKS (6)</td>
            </tr>
            <tr>
              <td>FRIED Pickles (15)</td>
              <td>ONION RINGS (15)</td>
            </tr>
            <tr>
              <td>Crab Rangoons (8)</td>
              <td>FRIED CALAMARI (15)</td>
            </tr>
            <tr>
              <td>FRIED Oyster (6)</td>
              <td>FRIED Baby Shrimp</td>
            </tr>
            <tr>
              <td>FRIED Frog Legs (6)</td>
              <td>FRIED Crab Cake (2)</td>
            </tr>
          </table>
        </li>
        <li class="menu-item">
          <div class="cont">
            Served with Your Choice of French Fries, Cajun Fries, or Sweet Potato Fries.
          </div>
          <table>
            <tr>
              <td>HUSH PUPPIES (10)</td>
              <td>FRIED CHEESE STICKS (6)</td>
            </tr>
            <tr>
              <td>FRIED Pickles (15)</td>
              <td>ONION RINGS (15)</td>
            </tr>
            <tr>
              <td>Crab Rangoons (8)</td>
              <td>FRIED CALAMARI (15)</td>
            </tr>
            <tr>
              <td>FRIED Oyster (6)</td>
              <td>FRIED Baby Shrimp</td>
            </tr>
            <tr>
              <td>FRIED Frog Legs (6)</td>
              <td>FRIED Crab Cake (2)</td>
            </tr>
          </table>
        </li>
        <li class="menu-item">
          <div class="cont">
            Served with Your Choice of French Fries, Cajun Fries, or Sweet Potato Fries.
          </div>
          <table>
            <tr>
              <td>HUSH PUPPIES (10)</td>
              <td>FRIED CHEESE STICKS (6)</td>
            </tr>
            <tr>
              <td>FRIED Pickles (15)</td>
              <td>ONION RINGS (15)</td>
            </tr>
            <tr>
              <td>Crab Rangoons (8)</td>
              <td>FRIED CALAMARI (15)</td>
            </tr>
            <tr>
              <td>FRIED Oyster (6)</td>
              <td>FRIED Baby Shrimp</td>
            </tr>
            <tr>
              <td>FRIED Frog Legs (6)</td>
              <td>FRIED Crab Cake (2)</td>
            </tr>
          </table>
        </li>
        <li class="menu-item">
          <div class="cont">
            Served with Your Choice of French Fries, Cajun Fries, or Sweet Potato Fries.
          </div>
          <table>
            <tr>
              <td>HUSH PUPPIES (10)</td>
              <td>FRIED CHEESE STICKS (6)</td>
            </tr>
            <tr>
              <td>FRIED Pickles (15)</td>
              <td>ONION RINGS (15)</td>
            </tr>
            <tr>
              <td>Crab Rangoons (8)</td>
              <td>FRIED CALAMARI (15)</td>
            </tr>
            <tr>
              <td>FRIED Oyster (6)</td>
              <td>FRIED Baby Shrimp</td>
            </tr>
            <tr>
              <td>FRIED Frog Legs (6)</td>
              <td>FRIED Crab Cake (2)</td>
            </tr>
          </table>
        </li>
        <li class="menu-item">
          <div class="cont">
            Served with Your Choice of French Fries, Cajun Fries, or Sweet Potato Fries.
          </div>
          <table>
            <tr>
              <td>HUSH PUPPIES (10)</td>
              <td>FRIED CHEESE STICKS (6)</td>
            </tr>
            <tr>
              <td>FRIED Pickles (15)</td>
              <td>ONION RINGS (15)</td>
            </tr>
            <tr>
              <td>Crab Rangoons (8)</td>
              <td>FRIED CALAMARI (15)</td>
            </tr>
            <tr>
              <td>FRIED Oyster (6)</td>
              <td>FRIED Baby Shrimp</td>
            </tr>
            <tr>
              <td>FRIED Frog Legs (6)</td>
              <td>FRIED Crab Cake (2)</td>
            </tr>
          </table>
        </li>
        <li class="menu-item">
          <div class="cont">
            Served with Your Choice of French Fries, Cajun Fries, or Sweet Potato Fries.
          </div>
          <table>
            <tr>
              <td>HUSH PUPPIES (10)</td>
              <td>FRIED CHEESE STICKS (6)</td>
            </tr>
            <tr>
              <td>FRIED Pickles (15)</td>
              <td>ONION RINGS (15)</td>
            </tr>
            <tr>
              <td>Crab Rangoons (8)</td>
              <td>FRIED CALAMARI (15)</td>
            </tr>
            <tr>
              <td>FRIED Oyster (6)</td>
              <td>FRIED Baby Shrimp</td>
            </tr>
            <tr>
              <td>FRIED Frog Legs (6)</td>
              <td>FRIED Crab Cake (2)</td>
            </tr>
          </table>
        </li>
      </ul>
    </div>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>